/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

img {
	max-width: 100%;
}

figure {
	width: 100%;
}

figcaption {
	font-size: 110%;
	margin-top: 0.8em;
	font-style: italic;
	text-align: center;
}